body {background-color: #FFFFFF;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #6846C7;
}

img {max-width:100%;}


.desc {
height:40px;
}

.name {
margin-top: 4px;
height:55px;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  float: left;
  background-color: #2196F3;
  color: white;
  margin-right: 50px;
}

.topnav a.active:hover {
  opacity: 0.8;
}

.topnav a.account {
  margin-left: 50px;
}

.topnav .search-container {
  overflow: hidden;
  display: flex;
  margin-top: 7px;
  background: #fff;
}

.topnav .textbox {
  width:100%;
  height: 22px;
  border: 0;
  outline: 0;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {

  padding: 6px 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: moccasin;
}

@media screen and (max-width: 630px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a.active{
    margin-bottom: 15px;

  }

 .topnav .textbox{
  margin-left:8px;
}

  .topnav a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
  }
  .topnav a.account {
   margin-left:0;

}
}

.drop-content {
  display: none;
}

.drop:hover .drop-content {display: block;}

.drop:hover .dropbtn {
background-color: #111111;
color: white;
}

.container {
  margin: auto;
  line-height: 1.5;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h3 {
  background-color: #111111;
  color:white;
  text-align:center;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

h2 {
  color: white;
  text-align: center;
  background-color: #111111;
}

.sidebarContents {
  margin-left: 0.7rem;

}

.flex-grid {
  display: flex;
  margin: auto -1rem 1rem;
}
.col {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 0.5rem;
}
.sidebar {
  flex: 1;
  max-width: 175px;
  min-width: 130px;
}

.sidebar2 {
  flex: 1;
  max-width: 500px;
  min-width: 400px;
}

.main {
  flex: 8;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  max-width: 300px;
  min-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  border: 1px solid #808080;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
}

.cartcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width:4960px;
  max-width:100%;
  margin: 10px;
  text-align: center;
  font-family: arial;
}
.price {
  color: grey;
  font-size: 22px;
}
.card a.button {
  display:inline-block;
  border: none;
  outline: 0;
  text-decoration: none;
  padding: 12px;
  color: white;
  background-color: #111111;
  text-align: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 0px;
}


a.oButton {
  display:inline-block;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #111111;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}


.card a.button:hover {
  opacity: 0.7;
}

a.oButton:hover {
  opacity: 0.7;
}


#wrapper {
  display: flex;
  flex-wrap: wrap;  
}
.dropdown{
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  z-index: 1;
}
.choose {
  margin-bottom: 20px;
}

.choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.choose button:hover
{
  border: 2px solid #86939E;
  outline: none;
}

.choose button.active{
background-color: #358ED7;
color: white;
}

button.flashy{
background-color: Yellow;

}

